.employees-content {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--gray-00);
    overflow: auto;
    position: relative;
}

.employees-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-medium-32) auto;
}

.employees-header > h1{
    font-size: var(--font-h1);
    font-weight: var(--font-h1-weight);
    color: var(--black);
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input {
    width: 290px;
    height: 48px;
    padding: 12px 16px;
    gap: 160px;
    border: 1px solid var(--gray-10);
    border-radius: 8px;
    font-size: var(--font-h3);
    font-weight: var(--font-h3-weight);
    padding-right: 40px; 
}

.search-box input::placeholder {
    color: var(--gray-20);
}

.search-icon {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    color: var(--gray-10);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.employees-table {
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    border-collapse: separate;
    border-spacing: 0;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow-1);
    text-align: left;
    margin-bottom: 48px;
}

.employees-table:first-child {
    text-align: center;
}

.employees-table-header {
    height: 50px;
    background-color: var(--blue-primary);
    color: var(--white);
    font-size: var(--font-h2);
    font-weight: var(--font-h2-weight);
}

.employees-table-content > tr{
    height: 48px;
    box-shadow: var(--shadow-1);
    font-size: var(--font-h3);
    font-weight: var(--font-h3-weight);
}

.employees-table td:first-child,
.employees-table th:first-child {
    text-align: center;
}

.photo-column {
    width: 10%;
}

.employee-photo{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.name-column {
    width: 25%;
}

.role-column {
    width: 20%;
}

.admission-column {
    width: 22.5%;
}

.phone-column {
    width: 22.5%;
}

.more-column{
    display: none;
}

.message-space {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--black);
  margin: 0 8px;
  animation: loader-dot 1.5s infinite ease-in-out;
  animation-delay: calc(0.5s);
}

.loader-dot:nth-child(2) {
  animation-delay: calc(0.5s + 0.25s);
}

.loader-dot:nth-child(3) {
  animation-delay: calc(0.5s + 0.5s);
}

@keyframes loader-dot {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

.error-message{
    font-size: var(--font-h1);
    font-weight: var(--font-h1-weight);
}

@media screen and (max-width: 768px) {
    .employees-header{
        height: 96px;
        flex-direction: column;
        align-items: baseline;
    }
    
    .search-box {
        width: 100%;
    }
    
    .search-box form {
        width: 100%;
    }

    .search-box input {
        width: 100%; 
        box-sizing: border-box;
    }

    .employees-table,
    .employees-table-header {
        width: 100%;
    }

    .role-column,
    .admission-column,
    .phone-column {
        display: none;
    }

    .employees-table {
        width: 100%;
        table-layout: fixed;
    }

    .employees-table-header {
        width: 100%;
        display: table-header-group;
    }

    .employees-table-content > tr {
        box-shadow: none
    }

    .photo-column {
        width: 20%;
    }

    .name-column {
        width: 70%;
    }

    .more-column {
        width: 15%;
        text-align: center;
        display: table-cell;
    }

    .more-column > img{
        width: 17px;
        height: 9px;
    }
    
    .arrow-icon {
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .arrow-icon {
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    .arrow-icon.rotated {
        transform: rotate(180deg);
    }

    .extra-content {
        display: flex;
        flex-direction: column; 
        padding: 16px;
        margin-bottom: 10px;
        background-color: var(--white);
    }

    .extra-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        border-bottom: 1px dotted var(--gray-10);
    }
}

@media screen and (min-width: 769px) {
    .extra-row {
        display: none !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 460px) {
    .extra-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}